USE [master]
GO
/****** Object:  Database [Orman]    Script Date: 7/9/2020 2:27:37 PM ******/
CREATE DATABASE [Orman]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Orman', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Orman.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Orman_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Orman_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Orman].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Orman]
GO
/****** Object:  Schema [Orman]    Script Date: 7/9/2020 2:27:37 PM ******/
CREATE SCHEMA [Orman]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 7/9/2020 2:27:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [Orman].[Admin]    Script Date: 7/9/2020 2:27:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Orman].[Admin](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](max) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Orman.Admin] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [Orman].[Client]    Script Date: 7/9/2020 2:27:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Orman].[Client](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[Phone] [nvarchar](max) NOT NULL,
	[GroupID] [int] NOT NULL,
 CONSTRAINT [PK_Orman.Client] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [Orman].[Group]    Script Date: 7/9/2020 2:27:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Orman].[Group](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Orman.Group] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [Orman].[Item]    Script Date: 7/9/2020 2:27:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Orman].[Item](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_Orman.Item] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [Orman].[Order]    Script Date: 7/9/2020 2:27:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Orman].[Order](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Date] [datetime] NOT NULL,
	[Total] [decimal](18, 2) NOT NULL,
	[ClientID] [int] NOT NULL,
 CONSTRAINT [PK_Orman.Order] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Orman].[OrderItem]    Script Date: 7/9/2020 2:27:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Orman].[OrderItem](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Quantity] [int] NOT NULL,
	[OrderID] [int] NOT NULL,
	[ItemID] [int] NOT NULL,
 CONSTRAINT [PK_Orman.OrderItem] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [Orman].[Admin] ON 

INSERT [Orman].[Admin] ([ID], [UserName], [Password]) VALUES (1, N'Mahmoud', N'123456')
SET IDENTITY_INSERT [Orman].[Admin] OFF
SET IDENTITY_INSERT [Orman].[Client] ON 

INSERT [Orman].[Client] ([ID], [Name], [Email], [Phone], [GroupID]) VALUES (1, N'ahmed', N'ahmed@gmail.com', N'01156555220', 1)
INSERT [Orman].[Client] ([ID], [Name], [Email], [Phone], [GroupID]) VALUES (2, N'mohamed', N'mohamed@gmail.com', N'01095544899', 3)
INSERT [Orman].[Client] ([ID], [Name], [Email], [Phone], [GroupID]) VALUES (3, N'ali', N'ali@gmail.com', N'01025238684', 2)
SET IDENTITY_INSERT [Orman].[Client] OFF
SET IDENTITY_INSERT [Orman].[Group] ON 

INSERT [Orman].[Group] ([ID], [Name]) VALUES (1, N'Luxor')
INSERT [Orman].[Group] ([ID], [Name]) VALUES (2, N'Qena')
INSERT [Orman].[Group] ([ID], [Name]) VALUES (3, N'Aswan')
SET IDENTITY_INSERT [Orman].[Group] OFF
SET IDENTITY_INSERT [Orman].[Item] ON 

INSERT [Orman].[Item] ([ID], [Name], [Price]) VALUES (1, N'Pizza Chieken', CAST(60.00 AS Decimal(18, 2)))
INSERT [Orman].[Item] ([ID], [Name], [Price]) VALUES (2, N'Shawerma', CAST(30.00 AS Decimal(18, 2)))
INSERT [Orman].[Item] ([ID], [Name], [Price]) VALUES (3, N'Burger', CAST(25.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [Orman].[Item] OFF
SET IDENTITY_INSERT [Orman].[Order] ON 

INSERT [Orman].[Order] ([ID], [Date], [Total], [ClientID]) VALUES (1, CAST(N'2020-07-09T14:18:00.747' AS DateTime), CAST(400.00 AS Decimal(18, 2)), 1)
SET IDENTITY_INSERT [Orman].[Order] OFF
SET IDENTITY_INSERT [Orman].[OrderItem] ON 

INSERT [Orman].[OrderItem] ([ID], [Quantity], [OrderID], [ItemID]) VALUES (1, 4, 1, 3)
INSERT [Orman].[OrderItem] ([ID], [Quantity], [OrderID], [ItemID]) VALUES (2, 4, 1, 3)
INSERT [Orman].[OrderItem] ([ID], [Quantity], [OrderID], [ItemID]) VALUES (3, 4, 1, 3)
SET IDENTITY_INSERT [Orman].[OrderItem] OFF
/****** Object:  Index [IX_GroupID]    Script Date: 7/9/2020 2:27:38 PM ******/
CREATE NONCLUSTERED INDEX [IX_GroupID] ON [Orman].[Client]
(
	[GroupID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ClientID]    Script Date: 7/9/2020 2:27:38 PM ******/
CREATE NONCLUSTERED INDEX [IX_ClientID] ON [Orman].[Order]
(
	[ClientID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ItemID]    Script Date: 7/9/2020 2:27:38 PM ******/
CREATE NONCLUSTERED INDEX [IX_ItemID] ON [Orman].[OrderItem]
(
	[ItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_OrderID]    Script Date: 7/9/2020 2:27:38 PM ******/
CREATE NONCLUSTERED INDEX [IX_OrderID] ON [Orman].[OrderItem]
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [Orman].[Client]  WITH CHECK ADD  CONSTRAINT [FK_Orman.Client_Orman.Group_GroupID] FOREIGN KEY([GroupID])
REFERENCES [Orman].[Group] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [Orman].[Client] CHECK CONSTRAINT [FK_Orman.Client_Orman.Group_GroupID]
GO
ALTER TABLE [Orman].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Orman.Order_Orman.Client_ClientID] FOREIGN KEY([ClientID])
REFERENCES [Orman].[Client] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [Orman].[Order] CHECK CONSTRAINT [FK_Orman.Order_Orman.Client_ClientID]
GO
ALTER TABLE [Orman].[OrderItem]  WITH CHECK ADD  CONSTRAINT [FK_Orman.OrderItem_Orman.Item_ItemID] FOREIGN KEY([ItemID])
REFERENCES [Orman].[Item] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [Orman].[OrderItem] CHECK CONSTRAINT [FK_Orman.OrderItem_Orman.Item_ItemID]
GO
ALTER TABLE [Orman].[OrderItem]  WITH CHECK ADD  CONSTRAINT [FK_Orman.OrderItem_Orman.Order_OrderID] FOREIGN KEY([OrderID])
REFERENCES [Orman].[Order] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [Orman].[OrderItem] CHECK CONSTRAINT [FK_Orman.OrderItem_Orman.Order_OrderID]
GO
USE [master]
GO
